@import "../node_modules/croppie/croppie.css";

#msg {
  font-size: 18px;
  text-align: center;
  width: 200px;
  border: 1px solid black;
  padding: 50px;
  box-sizing: border-box;
}

#container.ready #msg {
  display: none;
}

.croppie-wrap {
  display: none;
  width: 300px;
  height: 300px;
}

#container.ready .croppie-wrap {
  display: block;
}
